.chatH{
    border-bottom: 1px solid rgba(190, 190, 190, 0.1) ;
    width: 75vw;
    cursor: pointer;
    top: 0;
    position: fixed;
    /* background-color: #2d4671; */
    z-index: 1000;
    /* background-image: linear-gradient(
        135deg,
        rgb(29, 50, 134) 0%,
        rgb(33, 138, 174) 69%,
        rgb(32, 167, 172) 89%
      
    ); */


}
.chatHeader{
    display: flex;
    align-items: center;
    width: 70vw;
    justify-content: space-between;
    color: white !important;
    margin: 20px;
}
.channel_name{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.timeStamp{
    font-size: 17px;
}
.icon{
    color: white !important;
    margin-right: 40px;

}