.event_detail_page{
    display: flex;
   
    background-color: #eaeaea;
}
.event_detail_page .main{
    margin-top: 6rem;
    flex: 0.6;
}
.event_detail_page .sidebar{
    margin-top: 6rem;
    flex: 0. 35;
}