.sign_in{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.sign_in img{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    margin-right: 10px;
}
.sign_in p{
    color: white;
    font-size: medium;
}