.error{
    height: 80vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
}
.error img{
    width: 80%;
    height: 70%;
    margin-left: 20rem;
    margin-bottom: 2rem;
}
    