.hero{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background-color: rgb(242, 255, 255);
}
.hero_left{
    margin-left: 5rem;

    
}
.hero_text{
  display: flex;
  align-items: center;
  margin-bottom: -60px;
}
.hero_text .wave_big_text{
  font-size: 80px;
  margin-left: 10px;
  color: #00b5ad;
}
.hero_text .wave_small_text{
  font-size: 20px;
  margin-left: -30px;
  color: #4CAF50;
}
.hero_text .wave_small_texts{
  margin-left: 30px;
  color: #4CAF50;
}
.hero_text .wave_big_texts{
  font-size: 80px;
  margin-left: 10px;
  margin-top: 40px;
  color: #00b5ad;

}
.hero_btn{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* //////////////////////////////////////////////////////////////////////// */
.event{
  display: flex;
  background-color: rgb(225, 237, 252);
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}
.event_right{
  margin-right: 8rem;
}
.event_left{
  margin-left: 8rem;
}
.event h1{
  font-size: 55px;
  text-align: center;
  color: #034aa6;
}
.event_text{
  font-size: 18px;
  color: #1b72bf;
  margin: 1rem 2rem;
  margin-top: 4rem;
  
}
.community{
  background-color: #d7d7f3;
}
/* background-color: #d9fffe; */
/* //////////////////////////////////////////////////////////////////////// */
.wave_big_text_community{
  font-size: 55px;
  margin-left: 5rem;
  color: #6066ce;
}
.community_text{
  font-size: 18px;
  margin-top: 8rem;
  margin-left: 5rem;
  margin-right: 4rem;
  color: #7672F2;
}

.type h1{
  color: #14a2f4 ;
}
.hang{
  color: #18a2d9;
  margin-right: 5rem;
  margin-left: 5rem;
}