.hero{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    width: 100%;
    background-color: rgb(242, 255, 255);
}
.hero_left{
    margin-left: 5rem;

    
}
.hero_text{
  display: flex;
  align-items: center;
  margin-bottom: -60px;
}
.hero_text .wave_big_text{
  font-size: 80px;
  margin-left: 10px;
  color: #00b5ad;
}
.hero_text .wave_small_text{
  font-size: 20px;
  margin-left: -30px;
  color: #4CAF50;
}
.hero_text .wave_small_texts{
  margin-left: 30px;
  color: #4CAF50;
}
.hero_text .wave_big_texts{
  font-size: 80px;
  margin-left: 10px;
  margin-top: 40px;
  color: #00b5ad;

}
.hero_btn{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* //////////////////////////////////////////////////////////////////////// */
.event_hero{
  display: flex;
  background-color: rgb(225, 237, 252);
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
}
.event_hero_left{
  margin-right: 8rem;
}
.event_hero_left h1{
  font-size: 55px;
  text-align: center;
  color: #034aa6;
}
.event_hero_text{
  font-size: 18px;
  color: #1b72bf;
  margin: 1rem 2rem;
  margin-top: 4rem;
  
}
.community_block_hero{
  background-color: #d7d7f3;
}
/* background-color: #d9fffe; */
/* //////////////////////////////////////////////////////////////////////// */
.wave_big_text_community{
  font-size: 55px;
  margin-left: 5rem;
  color: #6066ce;
}
.community_text{
  font-size: 18px;
  margin-top: 8rem;
  margin-left: 5rem;
  margin-right: 4rem;
  color: #7672F2;
}

.type h1{
  color: #14a2f4 ;
}
.hang{
  color: #18a2d9;
  margin-right: 5rem;
  margin-left: 5rem;
}

.appear{
  display: block;
}


@media(max-width:950px){
  .hero_left{
    margin-left: 3rem;
}
.hero_text{
  margin-bottom: -20px;
}
.hero_text .wave_big_text{
  font-size: 30px;
  margin-left: 10px;
}
.hero_text .wave_small_text{
  font-size: 16px;
  margin-left: -10px;
}
.hero_text .wave_small_texts{
  margin-left: 30px;
}
.hero_text .wave_big_texts{
  font-size: 30px;
  margin-left: 10px;
  margin-top: 40px;

}


  /* //////////////////////////////////////////////// */
  .event_hero_left{
    margin-right: 2rem;
  }
  .event_hero_left h1{
    font-size: 35px;
  }
  .event_hero_text{
    font-size: 16px;
    margin: 1rem 2rem;
    margin-top: 3rem;
    
  }
  .hidden-sm{ display: block;}

  /* background-color: #d9fffe; */
  /* //////////////////////////////////////////////////////////////////////// */
  .wave_big_text_community{
    font-size: 35px;
    margin-left: 2rem;
  }
  .community_text{
    font-size: 15px;
    margin-top: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;

  }

  .hang{
    margin-right: 2rem;
    margin-left: 2rem;
  }
}

@media(max-width:700px){
  .wave_big_text_community{
    font-size: 25px;
  
  }
  .event_hero_left h1{
    font-size: 25px;
  }
}

@media(max-width:650px){
    .hero{
    flex-direction: column;
  }
  .event_hero{
    flex-direction: column-reverse;
  }
  .hero_btn{
    margin-top: 30px;
  }
  .hidden-sm{ display: none;}
 

}

@media(max-width:450px){
  .hero{
  flex-direction: column;
}
.event_hero{
  flex-direction: column-reverse;
}
.hero_btn{
  margin-top: 20px;
}
.hidden-sm{ display: none;}

.wave_big_text_community{
  font-size: 20px;
  margin-left: 1rem;
}
.community_text{
  font-size: 12px;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;

}

.hang{
  margin-right: 2rem;
  margin-left: 2rem;
}
.type h1{
 margin-top: 10rem;
}


.hero_text{

  margin-top: 10px;
}
.hero_text .wave_big_text{
  font-size: 20px;
  margin-left: 5px;

}
.hero_text .wave_small_text{
  font-size: 10px;
  margin-left: -10px;
}
.hero_text .wave_small_texts{
  margin-left: 30px;
}
.hero_text .wave_big_texts{
  font-size: 20px;
  margin-left: 10px;
  margin-top: 30px;
}
.appear{
  margin-top: 100px;
}
}