.main-none{
  display: none;
}
.main .ui.fixed.menu {
    background-image: linear-gradient(
        135deg,
        rgb(24, 42, 115) 0%,
        rgb(33, 138, 174) 69%,
        rgb(32, 167, 172) 89%
      
    );

  }
  .main .ui.main.container {
    margin-top: 7em;
  }
  .main .item_nav{
    display: block;
  }
  .main .item_menu_nav{
    display: none !important;
  }

  @media(max-width: 700px){
    .main .item_nav{
      display: none !important;
    }
    .main .item_menu_nav{
      display: block !important;
    }
  }