.sidebar_main{
    position: fixed;
    left: 0;
    /* background-color: #e3e4e9; */
    height: 100vh;
    min-width:280px ;
    overflow-y: scroll;
}
.sidebar_main::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .sidebar_main {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
.sidebar_header{
    width: 100%;
    display: flex;
    margin-left: 25px;
    margin-top: 15px;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}
.sidebar_header h3{ 
    margin-left: 10px;
    margin-top: 10px;
}
.sidebar_header img{
    width: 40px;
    height: 40px;
    border-radius: 20px;

    object-fit: cover;
}
.event__filter{
    margin-left: 30px;
    box-shadow: none;

}
.event__filter .ui.menu{
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: none;

   
}
.event__filter .ui.menu .item{
    border-bottom: 1px solid #00b5ad;

}