.profile_photo{
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    margin: 1rem;
    

}
.profile_photo img{
    height: 430px;
    width: 325px;
    margin: 2rem 1rem;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.4);  
    position: relative;  
}

.photo_top{
    display: flex;
    flex-direction: column;
}
.photo_top .btn_group{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn_group .photo_btn{
    height: 50px;
    width: 50px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    border-radius: 25px;
    border: none;
    box-shadow: 0px 5px 17px -7px rgba(8, 5, 5, 0.4); 
    outline-width: 0;
    cursor: pointer;
    margin-bottom: 40px;
}
.delete{  background-color: #F44336;}
.delete:hover{  
    background-color: #D32F2F;

}
.btn_group .main-btn{
    background-color: #4CAF50;
    margin-left: 20px;
   
}

.main-btn:hover{
    background-color: #388E3C;
}

@media(max-width: 400px){
    .profile_photo img{
        height: 250px;
        width: 200px;
        margin: 2rem 0.3rem;

    }
}