.event_header{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
    width: 100%;
    border-radius: 10px;
 
}
.event_header .container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.const{
    color: white;
    margin-left: 20px;
}
.event_header .container .title{
    font-size: 29px;
    margin: 0 0  0 20px;
}
.event_header .container .host{ 
    margin-bottom: 50px;
    font-size: 14px;
}
.event_header .container date{ 

    font-size: 15px;}
.event_header .container span{ 
    color: royalblue;
}

.error{
    border: 1px solid red;
    color: red;
    padding: 10px;
    margin: 10px;
    color: red;
}