.tab_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    background-color: #eaeaea;
}
.tab{
    margin-top: 7rem;
    width: 70%;
}

.tabs .ui.menu .active.item{
    color: deepskyblue;
}
