.event-dashboard{
    display: flex;
    padding: 10px;
    height: 100vh;
    margin-top: 4rem;
 
}
.sidebar-left{
    flex: 0.3;
}
.sidebar-right{
    flex: 0.25;
}
.main{
    flex: 0.5;
    margin-top: 3rem;
}