.profile_photo{
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    margin: 1rem;
    

}
.profile_photo img{
    height: 430px;
    width: 325px;
    margin: 2rem 1rem;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.4);  
    position: relative;  
}

.photo_top{
    display: flex;
    flex-direction: column;
}
.photo_top .btn_group{
    display: flex;
    align-items: center;
    justify-content: center;
}
.photo_btn{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border: none;
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.4); 
    outline-width: 0;
    cursor: pointer;
    margin-bottom: 40px;
}
.delete{ 
     background-color: #e6483d;
     transition: all 0.5s ease-in-out;
    }
.delete:hover{  
    background-color: #D32F2F;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12); 

}
.main{
    background-color: #00b5ad;
    margin-left: 20px;
    transition: all 0.5s ease-in-out;
   
}

.main:hover{
    background-color: #05837d;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12); 
}